/*--------------------------------------------------------------
## 1. All Color Variable
----------------------------------------------------------------*/
:root {
  --white-color: #fff;
  --black-color: #222;
  --heading-color: #152046;
  --accent-color: #19CF79;
  --body-color: #636363;
  --gray-color: rgba(255, 255, 255, 0.5);
  --light-gray-color: #F5F5F5;
  --border-color: rgba(99, 99, 99, 0.50);

  --heading-font: "Golos Text", sans-serif;
  --body-font: "Inter", sans-serif;
}