/*--------------------------------------------------------------
  4. General
----------------------------------------------------------------*/
.cs_fs_12 {
  font-size: 12px;
  line-height: 1.25em;
}

.cs_fs_14 {
  font-size: 14px;
  line-height: 1.95em;
}

.cs_fs_15 {
  font-size: 15px;
  line-height: 1.67em;
}

.cs_fs_16 {
  font-size: 16px;
  line-height: 1.88em;
}

.cs_fs_18 {
  font-size: 18px;
  line-height: 1.95em;
}

.cs_fs_20 {
  font-size: 20px;
  line-height: 1.7em;

  @media (max-width: 991px) {
    font-size: 18px;
  }
}

.cs_fs_21 {
  font-size: 21px;
  line-height: 1.29em;

  @media (max-width: 991px) {
    font-size: 20px;
  }
}

.cs_fs_24 {
  font-size: 24px;
  line-height: 1.42em;

  @media (max-width: 767px) {
    font-size: 20px;
  }
}

.cs_fs_28 {
  font-size: 28px;
  line-height: 1.25em;

  @media (max-width: 1199px) {
    font-size: 24px;
  }
}

.cs_fs_30 {
  font-size: 30px;
  line-height: 1.33em;

  @media (max-width: 991px) {
    font-size: 24px;
  }
}

.cs_fs_36 {
  font-size: 36px;
  line-height: 1.056em;

  @media (max-width: 1399px) {
    font-size: 30px;
  }

  @media (max-width: 991px) {
    font-size: 24px;
  }
}

.cs_fs_40 {
  font-size: 40px;
  line-height: 1.25em;

  @media (max-width: 991px) {
    font-size: 36px;
  }
}

.cs_fs_48 {
  font-size: 48px;
  line-height: 1.21em;

  @media (max-width: 1199px) {
    font-size: 40px;
  }

  @media (max-width: 767px) {
    font-size: 36px;
  }
}

.cs_fs_50 {
  font-size: 50px;
  line-height: 1.3em;

  @media (max-width: 991px) {
    font-size: 46px;
  }

  @media (max-width: 575px) {
    font-size: 36px;
  }
}

.cs_fs_64 {
  font-size: 64px;
  line-height: 1.16em;

  @media (max-width: 1199px) {
    font-size: 60px;
  }

  @media (max-width: 991px) {
    font-size: 52px;
  }

  @media (max-width: 575px) {
    font-size: 46px;
  }
}

.cs_fs_89 {
  font-size: 89px;
  line-height: 1.13em;

  @media (max-width: 1199px) {
    font-size: 80px;
  }

  @media (max-width: 991px) {
    font-size: 75px;
  }

  @media (max-width: 575px) {
    font-size: 56px;
  }
}

.cs_light {
  font-weight: 300;
}

.cs_normal {
  font-weight: 400;
}

.cs_medium {
  font-weight: 500;
}

.cs_semibold {
  font-weight: 600;
}

.cs_bold {
  font-weight: 700;
}

.cs_extra_bold {
  font-weight: 800;
}

.cs_black {
  font-weight: 900;
}


.cs_white_color {
  color: var(--white-color);
}

.cs_heading_color {
  color: var(--heading-color);
}

.cs_body_color {
  color: var(--body-color);
}

.cs_border_color {
  color: var(--border-color);
}

.cs_gray_color {
  color: var(--gray-color);
}

.cs_light_gray_color {
  color: var(--light-gray-color);
}

.cs_accent_color {
  color: var(--accent-color);
}

.cs_black_color {
  color: var(--black-color);
}

.cs_white_bg {
  background-color: var(--white-color);
}

.cs_heading_bg {
  background-color: var(--heading-color);
}

.cs_secondary_bg {
  background-color: var(--body-color);
}

.cs_gray_bg {
  background-color: var(--gray-color);
}

.cs_light_gray_bg {
  background-color: var(--light-gray-color);
}

.cs_accent_bg {
  background-color: var(--accent-color);
}

.cs_black_bg {
  background-color: var(--black-color);
}

.cs_bg_filed {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cs_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs_center_column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cs_radius_4 {
  border-radius: 4px;
}

.cs_radius_5 {
  border-radius: 5px;
}

.cs_radius_7 {
  border-radius: 7px;
}

.cs_radius_8 {
  border-radius: 8px;
}

.cs_radius_10 {
  border-radius: 10px;
}

.cs_radius_15 {
  border-radius: 15px;
}

.cs_radius_20 {
  border-radius: 20px;
}

.cs_radius_25 {
  border-radius: 25px;
}

.cs_radius_30 {
  border-radius: 30px;
}

.cs_radius_50 {
  border-radius: 50%;
}

.cs_btn.cs_style_1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--accent-color);
  gap: 10px;
  padding: 12px 30px;
  letter-spacing: 0.24px;
  position: relative;

  @media (max-width: 991px) {
    padding: 8px 20px;
  }

  >* {
    position: relative;
    z-index: 1;
  }

  .cs_btn_icon {
    font-size: 16px;
  }

  &:hover {
    background-color: transparent;
    color: var(--accent-color);

    &.cs_type_1 {
      background-color: var(--accent-color);
      color: var(--white-color);
    }
  }
}

.cs_scrolltop_btn {
  width: 45px;
  height: 45px;
  background-color: var(--white-color);
  border: 2px solid var(--accent-color);
  outline: 0;
  position: fixed;
  bottom: 0px;
  right: 30px;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  transition: all 0.4s ease;

  &.show {
    bottom: 30px;
    visibility: visible;
    opacity: 1;
  }
}

/*--------------------------------
 Bootstrap Classes
----------------------------------*/
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1620px;
  }
}


.cs_row_gap_20 {
  margin-left: -10px;
  margin-right: -10px;

  >* {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.cs_row_gap_40 {
  margin-left: -20px;
  margin-right: -20px;

  >* {
    padding-left: 20px;
    padding-right: 20px;
  }
}


.cs_gap_y_20 {
  gap: 20px 0;
}

.cs_gap_y_24 {
  gap: 24px 0;
}

.cs_gap_y_28 {
  gap: 28px 0;
}

.cs_gap_y_30 {
  gap: 30px 0;
}

.cs_gap_y_40 {
  gap: 40px 0;
}

.cs_gap_y_50 {
  gap: 50px 0;
}

.cs_gap_y_60 {
  gap: 60px 0;
}

.breadcrumb {
  line-height: 1.625em;

  li.active {
    color: var(--heading-color);
  }
}

.cs_section_heading.cs_style_1 {
  position: relative;
  z-index: 1;

  @media (max-width:991px) {

    br {
      display: none;
    }
  }

  &.cs_type_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @media (max-width:991px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &.cs_type_2 {
    margin-top: -60px;
  }

  .cs_section_heading_left {
    max-width: 750px;
  }
}


.cs_full_screen_right {
  width: calc(60vw + 650px);

  @media (max-width:991px) {
    width: 100%;
  }
}

.cs_hover_3 {
  &:hover {
    transform: translateY(-3px);
  }
}

/*--------------------------------
 Start List Styling
---------------------------------*/
.cs_mp_0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*------------------------------------------
 Start Rating
 ------------------------------------------ */
.cs_rating_container {
  max-width: 180px;
}

.cs_rating_percentage,
.cs_rating {
  overflow: hidden;

  &::before {
    content: '\f005\f005\f005\f005\f005';
    font-family: 'Font Awesome 6 Free';
    position: absolute;
    top: 0;
    left: 0;
  }
}

.cs_rating {
  flex: none;
  width: 120px;
  height: 26px;
  position: relative;
  font-size: 16px;
  letter-spacing: 7px;
  color: #FED55B;

  &::before {
    font-weight: 400;
  }
}

.cs_rating_percentage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  &::before {
    font-weight: 900;
  }
}

/*--------------------------------------
 Rounded Progressbar
----------------------------------------*/
.cs_round_progress_wrap {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  bottom: 0;
  z-index: 3;
  margin: auto;
}

.cs_round_progress_in {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 6px solid currentColor;
  }
}

.cs_round_progress_number {
  padding-top: 3px;
  display: flex;
  align-items: center;
}

.cs_round_progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //color: var(--accent-color);

  svg {
    width: 68px;
    height: 68px;
  }

  .cs_round_progress_percentage {
    stroke-width: 10px;
  }
}

.cs_round_progress_percentage {
  transform: rotate(-81deg);
  fill: none;
  stroke: currentColor;
  stroke-width: 10;
  stroke-dasharray: 0 999;
  transition: all 1s ease-in-out;
  stroke-width: 10px;
}


/*------------------------------------------
  Pagination Box
------------------------------------------ */
.cs_pagination_box {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  @media (max-width: 991px) {
    gap: 15px;
  }

  @media (max-width: 400px) {
    gap: 5px;
  }

  .cs_pagination_item {
    border-radius: 10px;
    background: var(--white-color);
    box-shadow: 0px 4px 20px 0px rgba(21, 32, 70, 0.07);
    height: 45px;
    width: 45px;
    color: var(--heading-color);
    line-height: 1.5em;

    @media (max-width: 400px) {
      height: 40px;
      width: 40px;
    }

    &.active {
      background-color: var(--accent-color);
      color: var(--white-color);
      pointer-events: none;
    }
  }

  a.cs_pagination_item:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
  }

  .cs_pagination_arrow {
    transition: all 0.4s ease;

    &:hover {
      color: var(--heading-color);
    }
  }

  .cs_pagination_arrow_left {
    margin-right: 15px;
  }

  .cs_pagination_arrow_right {
    margin-left: 15px;
  }
}

/*------------------------------------------
  Preloader
 ------------------------------------------ */
.cs_preloader {
  width: 100%;
  height: 100vh;
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  .cs_preloader_in {
    width: 130px;
    height: 130px;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      border: 5px solid var(--accent-color);
      border-top-color: var(--heading-color);
      border-bottom-color: var(--heading-color);
      border-right-color: var(--accent-color);
      border-radius: inherit;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      animation: infinite-rotation 3s linear infinite;
    }

    span {
      width: 120px;
      height: 120px;
      border-radius: inherit;
    }
  }

  svg {
    transform: scale(0.5);
    animation: scale-up 5s linear infinite;
  }
}

/*------------------------------------------
  Scroll Bar
 ------------------------------------------ */
::-webkit-scrollbar {
  width: 12px;
  padding: 0 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(99, 99, 99, 0.08);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(99, 99, 99, 0.1);
  border-radius: 6px;
}

/*-------------------------------------
 Animations
--------------------------------------*/

@keyframes infinite-rotation {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes scale-up {
  50% {
    transform: scale(1);
  }
}